*{
    margin: 0px;
    padding: 0px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    letter-spacing: 1px;
}

.navbar{
    background-color: #06132f;

    a{
        color: #ffff;
    }

    li{
        margin: 5px 10px !important;
    }
}

body{
    background-color: #091c47; 

}
.contenedor-registro{
    background-color: #0c255e;
} 


.list-group-item{
    background-color: #0c255e;
}

.list-group-item:hover{
    background-color: #06132f;
}

.texto_small_weight-light{
    font-size: smaller;
    font-weight: 300;
}

.texto-error{
    font-size: smaller;
    color: red;
}

@media(max-width:768px){
    body{
        font-size: 0.9em;
    }

    .contenedor-registro{
        width: 100% !important;
        h3{
            font-size: 1.5em;
        }
        input{
            font-size: inherit;
        }
    }
}
