*{
    margin: 0px;
    padding: 0px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    letter-spacing: 1px;
}

body{
    background-color: #091c47; 
}

.navbar{
    background-color: #06132f;

    a{
        color: #ffff;
    }

    li{
        margin: 5px 10px !important;
    }
}

td, th{
    text-align: center;
}

.list-group-item{
    background-color: #0c255e;
}

.list-group-item:hover{
    background-color: #06132f;
}

@media(max-width:768px){
    body{
        font-size: 0.9em;
    }

    table a{
        padding: 3px 6px !important;
    }
}