{% extends 'base_crear.html' %}

{% block title %}
Proveedor
{% endblock %}

{% block list-group %}
<a href="/proveedor/create"
    class="list-group-item list-group-item-action text-white mb-4 border border-primary border-2 rounded-3 active"><i class="fa-solid fa-pen-to-square"></i> Registrar
    proveedor</a>
<a href="/producto/create"
    class="list-group-item list-group-item-action text-white border border-primary border-2 rounded-2"><i class="fa-solid fa-pen-to-square"></i> Registrar
    producto</a>
{% endblock %}


{% block form %}
{% if e %}
    <p class="texto-error text-center mb-3 ">Ingresaste algunos campos invalidos. Nombre y apellido no permite caracteres numericos. Longitud del DNI permitida es entre 8 y 9</p>    
{% endif %}
<form action="/proveedor/create" method="POST"> {% csrf_token %}
    <h3 class="border-bottom text-white text-center pb-2">Registrar Proveedor</h3>
    {% if idProducto %}
    <h5 class="text-white">Producto ID</h5>
    <input type="number" class="form-control mb-4" name="idProducto" id="idProducto"
        value="{{idProducto}}" readonly>
    {% endif %}
    <!-- <label for="nombre">Nombre: </label> -->
    <input type="text" class="form-control mb-2 mt-5" name="nombre" id="nombre" placeholder="Ingrese su nombre" minlength="3" required>
    <!-- <label for="apellido">Apellido: </label> -->
    <input type="text" class="form-control mb-2" name="apellido" id="apellido"
        placeholder="Ingrese su apellido" minlength="3" required>
    <!-- <label for="dni">DNI: </label> -->
    <input type="number" class="form-control mb-4" name="dni" id="dni"
        placeholder="Ingrese su dni" min="8" >

    <input type="submit" class="btn btn-primary w-75 d-block mx-auto" value="Registrar">
</form>
{% endblock %}


{% block nuevoObjeto %}
    {% if proveedor %}
        <h5 class="border-bottom text-center pb-2">Nuevo Proveedor Registrado</h4>
        <p class="mt-4">ID: {{proveedor.id}}</p>
        <p>Nombre: {{proveedor.nombre}}</p>
        <p>Apellido: {{proveedor.apellido}}</p>
        <p>DNI: {{proveedor.dni}}</p>
    {% endif %}
{% endblock %}

