{% extends 'base_lista.html' %}

{% block title %}
    Proveedores
{% endblock %}

{% block navbar %}
<li class="nav-item"><a class="nav-link active p-2" aria-currente="page" href="/proveedores">Proveedores</a></li>
<li class="nav-item"><a class="nav-link p-2" href="/productos">Productos</a></li>
{% endblock %}

{% block table %}
<thead>
    <tr class="align-middle">
        <th>ID</th>
        <th>Apellido</th>
        <th>Nombre</th>
        <th>DNI</th>
        <th>Opciones</th>
    </tr>
</thead>
<tbody>
    {% for proveedor in proveedores %}
    <tr>
        <td>{{proveedor.id}}</td>
        <td>{{proveedor.apellido}}</td>
        <td>{{proveedor.nombre}}</td>
        <td>{{proveedor.dni}}</td>
        <td><a href="/proveedor/eliminar/{{proveedor.id}}" class="btn btn-danger"><i class="fa-solid fa-xmark" style="color: #fafafa;"></i></a></td>
    </tr>
    {% endfor %}
</tbody>
{% endblock %}