{% extends 'base_lista.html' %}

{% block title %}
    Productos
{% endblock %}

{% block navbar %}
<li class="nav-item"><a class="nav-link p-2" href="/proveedores">Proveedores</a></li>
<li class="nav-item"><a class="nav-link active p-2" aria-currente="page" href="/productos">Productos</a></li>
{% endblock %}

{% block table %}
<thead>
    <tr class="align-middle">
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Stock Actual</th>
        <th>Proveedor</th>
        <th colspan="2">Opciones</th>
    </tr>
</thead>
<tbody>
    {% for producto in productos %}
    <tr>
        <td>{{producto.id}}</td>
        <td>{{producto.nombre}}</td>
        <td>{{producto.precio}}</td>
        <td>{{producto.stock_actual}}</td>
        {% if producto.proveedor == None %}
            <td>-</td>
        {% else %}
            <td>{{producto.proveedor}}</td>
        {% endif %}
        <td><a href="/producto/editar/{{producto.id}}" class="btn btn-info"><i class="fa-solid fa-pen" style="color: #0b446f;"></i></a></td>
        <td><a href="/producto/eliminar/{{producto.id}}" class="btn btn-danger"><i class="fa-solid fa-xmark" style="color: #fafafa;"></i></a></td>
    </tr>
    {% endfor %}
</tbody>
{% endblock %}